* {
	box-sizing: border-box;
	--bs-body-font-family: var(--bs-font-sans-serif);
}
p{
	
}
body {
	margin: 0;
	padding: 0;
	background: #111827;
	min-width: 390px;
	min-height: 720px;
	overflow-y: scroll;
}

body::-webkit-scrollbar {
	width: 1em;
}

body::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
	background-color: #484848;
	outline: 1px solid slategrey;
}

@media (min-width: 992px) {
	.right-edge {
		position: absolute;
		right: 2em;
	}
}


.dropdown-menu {
	--bs-dropdown-min-width: 8.5rem;
}


.dropdown-menu .dropdown-item {
	color: #fff;
}

.dropdown-menu .dropdown-item:hover {
	background-color: #484848;
}

.dropdown-menu .dropdown-item:hover {
	color: #0d6efd;
}

.dropdown-menu .dropdown-item {
	color: #fff;
}


.dropdown-menu .dropdown-item:hover {
	color: #48c9ce;
	background-color: transparent;
}

ul.dropdown-menu.show {
	margin-top: 0.7rem;
}

header {
	z-index: 999;
}

.navbar {
	background-color: #484848;
}

.nav-link {
	color: #fff;
}

.nav-link:hover {
	color: #0d6efd;
}

.active>.nav-link {
	color: #0d6efd;
}

.navbar .navbar-nav .nav-link {
	color: #fff;
}

.navbar .navbar-nav .nav-link:hover {
	color: #48c9ce;
}

.navbar .navbar-nav .active>.nav-link {
	color: #48c9ce;
}

.navbar-brand {
	margin-left: 1em;
	text-align: center;
	align-content: center;
	display: flex;
	align-items: center;
	column-gap: 0.5em;
	font-size: calc(1.375vh + 14px);
}


.navbar-toggler {
	position: relative;
	right: 30px;
}

@media only screen and (max-width: 500px) {
	.container-xs {
		display: none !important;
	}

	.navbar {
		padding: 1.5rem;
	}
}

.display-6 {
	margin-bottom: 0 !important;
}

/* ---------- end ---------- */

/* --------section---------- */
section {
	position: relative;
	text-align: center;
	font-size: 16px;
	margin-bottom: 80px;
}

.no-section {
	margin-bottom: 0;
}

.sec-1 {
	background-image: url('/img/bg1.jpg');
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 100vh;
	margin-bottom: 0;
	min-height: 600px;
}

#sec_2 {
	height: 80vh;
	margin-bottom: 0;
	min-height: 400px;
}

@media screen and (max-width: 992px) {
	#sec_1 {
		height: calc(50vh);
	}

	#sec_2 {
		height: calc(50vh);
	}
}

/* ---------- end ---------- */

/* ---------- footer ---------- */
footer {
	position: relative;
	bottom: 0;
	width: 100%;
	/* height: 300px; */
	background-color: black;
}

/* ---------- end ---------- */


/* Custom Button */
.btn {
	width: auto;
}

/* ---------- end ---------- */

/* ============ desktop onhover view ============ */

.navbar {
	--bs-navbar-padding-y: 0.3rem;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 99999;
}

.glass {
	border-radius: 5px;
	background-color: transparent !important;
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);

}

@media screen and (max-width: 992px) {
	.navbar {
		position: relative;
	}
}

@media all and (min-width: 992px) {
	.navbar .nav-item .dropdown-menu {
		display: none;
	}

	/* .navbar .nav-item:hover .nav-link{   } */
	.navbar .nav-item:hover .dropdown-menu {
		display: block;
	}

	.navbar .nav-item .dropdown-menu {
		margin-top: 0;
	}
}

/* ============ desktop onhover view .end// ============ */


/* main screen */